{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <h1>Log in</h1>
    {% if form.errors %}
    <p>
        Por favor confirme se o seu nome de usuário e senha estão corretos.
    </p>
    {% else %}
    
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            <p>
                <button type="submit" class="btn">Entrar</button>
            </p>
        </form>
        <p>
            <a href="{% url 'password_reset' %}" class="btn">
                Esqueceu a sua senha?
            </a>
            <a href="{% url 'register' %}" class="btn">Cadastre-se aqui</a>.
        </p>
    </div>
</div>
{% endblock %}